@model IEnumerable<MyParkingSkopje.ViewModels.ParkingDetails>
@{
    ViewBag.Title = "Bookmarks";
}

<h2>Bookmarks</h2>
<!--
    tuka se site bookmarked parkinzi sho gi ima korisnikot - so ova se implementira funkcisko baranje 8
    vo modelot ima lista od ParkingDetails
-->

