@model IEnumerable<MyParkingSkopje.ViewModels.ParkingDetails>
@{
    ViewBag.Title = "ByLocation";
}

<h2>ByLocation</h2>

<!--tuka vo modelot se site parkinzi sortirani spored rastojanieto do korisnikot, vo modelot ima lista
    od ParkingDetails isto kako vo drugite Views.-->

