@model IEnumerable<MyParkingSkopje.ViewModels.ParkingDetails>
@{
    ViewBag.Title = "ByMunicipality";
}

<h2>ByMunicipality</h2>
<!--tuka nesto Parkings in KARPOS/blabla, imeto na opstianta e vo viewBag.municipality
    vo modelot ima lista od ParkingDetails kade ima informacii za parkingot, rating, distanca,
    sortirani spored rating - da se dogovorime dali ke ima sortiranje i po nesto drugo tuka.
    -->
