@model IEnumerable<MyParkingSkopje.ViewModels.ParkingDetails>
@{
    ViewBag.Title = "ByName";
}

<h2>ByName</h2>
<!--tuka nesto Search results for: tekstot sho bil searchan (vo ViewBag.searchText go ima)
    vo modelot e lista od ParkingDetails kade ima informacii za parkingot, rating, rastojanie do korisnik
    sortirani se po rating - mozi ke bidi najdobro da nema opcii za sortiranje po drugite koloni za ova - da se dogovorime.
    -->
