@model IEnumerable<MyParkingSkopje.ViewModels.SearchParkingsIndexViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--ovde search bar za search po ime, dropdown lista za search po municipality i kopce za search by location
    vo modelot e pratena lista od site opstini-municipalities i lista so 5te najdobro oceneti parkinzi-topFiveParkings
    search po ime vodi kon /SearchParkings/ByName
    search po opstina vodi kon /SearchParkings/ByMunicipality
    search po lokacija vodi kon /SearchParkings/ByLocation
    -->
